.card {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  display: flex;
  align-items: center;
  position: relative;
}

.avatar {
  width: 50px;
  height: 50px;
  background-color: #3498db;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 24px;
  font-weight: bold;
  margin-right: 10px;
}

* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  font-size: 13px;
  text-align: center;
  background: #f9f8f7;
}

ul {
  margin: 30px auto;
  text-align: center;
}

li {
  list-style: none;
  position: relative;
  display: inline-block;
  width: 100px;
  height: 100px;
}

@-moz-keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

@-webkit-keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

@-o-keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

.round {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding-top: 30px;
  text-decoration: none;
  text-align: center;
  font-size: 25px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .7);
  letter-spacing: -.065em;
  font-family: "Hammersmith One", sans-serif;
  -webkit-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, .2);
  border-radius: 300px;
  z-index: 1;
  border-width: 4px;
  border-style: solid;
}

.round:hover {
  width: 130%;
  height: 130%;
  left: -15%;
  top: -15%;
  font-size: 33px;
  padding-top: 38px;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
  -o-box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
  -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
  z-index: 2;
  border-size: 10px;
  -webkit-transform: rotate(-360deg);
  -moz-transform: rotate(-360deg);
  -o-transform: rotate(-360deg);
  transform: rotate(-360deg);
}

a.red {
  background-color: rgba(239, 57, 50, 1);
  color: rgba(133, 32, 28, 1);
  border-color: rgba(133, 32, 28, .2);
}

a.red:hover {
  color: rgba(239, 57, 50, 1);
}

a.green {
  background-color: rgba(1, 151, 171, 1);
  color: rgba(0, 63, 71, 1);
  border-color: rgba(0, 63, 71, .2);
}

a.green:hover {
  color: rgba(1, 151, 171, 1);
}

a.yellow {
  background-color: rgba(252, 227, 1, 1);
  color: rgba(153, 38, 0, 1);
  border-color: rgba(153, 38, 0, .2);
}

a.yellow:hover {
  color: rgba(252, 227, 1, 1);
}

.round span.round {
  display: block;
  opacity: 0;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  font-size: 1px;
  border: none;
  padding: 40% 20% 0 20%;
  color: #fff;
}

.round span:hover {
  opacity: .85;
  font-size: 16px;
  -webkit-text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
  -moz-text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
  -o-text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
  text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
}

.green span {
  background: rgba(0, 63, 71, .7);
}

.red span {
  background: rgba(133, 32, 28, .7);
}

.yellow span {
  background: rgba(161, 145, 0, .7);

}

.wrap {
  padding: 2.5em;
  text-align: center;
}

.button {
  display: inline-block;
  font-size: 1.2em;
  padding: 1.2em 1.5em;
  font-family: Gill Sans, "Gill Sans", sans-serif;
  font-weight: 700;
  letter-spacing: -1px;
  text-transform: uppercase;
  text-decoration: none;
  margin: 3em;
  border: solid 2px #232323;
  color: #232323;
  border-radius: 0.4em;
  transition: all 0.3s linear;
  animation-iteration-count: infinite;
}

.button:hover {
  color: #ffffff;
  background: #232323;
  animation: none;
}

.button4 {
  animation-duration: 0.75s;
  animation-name: jump;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
    box-shadow: 0px 0px 5px 0px #232323;
  }

  100% {
    opacity: 1;
    box-shadow: none;
  }
}

@keyframes shaker {
  0% {
    transform: rotate(0deg);
  }

  29% {
    transform: rotate(0deg);
  }

  30% {
    transform: rotate(1deg);
  }

  31% {
    transform: rotate(2deg);
  }

  33% {
    transform: rotate(1deg);
  }

  35% {
    transform: rotate(0deg);
  }

  37% {
    transform: rotate(-1deg);
  }

  39% {
    transform: rotate(-2deg);
  }

  41% {
    transform: rotate(-1deg);
  }

  43% {
    transform: rotate(0deg);
  }

  45% {
    transform: rotate(1deg);
  }

  47% {
    transform: rotate(2deg);
  }

  49% {
    transform: rotate(1deg);
  }

  51% {
    transform: rotate(0deg);
  }

  53% {
    transform: rotate(-1deg);
  }

  55% {
    transform: rotate(-2deg);
  }

  57% {
    transform: rotate(-1deg);
  }

  59% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes shrink {
  0% {
    transform: scaleY(1);
  }

  49% {
    transform: scale(0.97, 0.97);
  }

  100% {
    transform: scaleY(1);
  }
}

@keyframes jump {
  0% {
    transform: scale(1, 1) translate(0px, 0px);
  }

  30% {
    transform: scale(1, 0.8) translate(0px, 10px);
  }

  75% {
    transform: scale(1, 1.1) translate(0px, -25px);
  }

  100% {
    transform: scale(1, 1) translate(0px, 0px);
  }
}

button {
  position: relative;
  margin: 0;
  padding: 5px 12px;
  height: 60px;
  width: 150px;
  outline: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  background-color: #ffffff;
  border: 1px solid rgba(22, 76, 167, 0.6);
  border-radius: 10px;
  color: #1d89ff;
  font-weight: 400;
  font-size: 20px;
  font-family: inherit;
  z-index: 0;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
}

button span {
  color: #164ca7;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.7px;
}

button:hover {
  animation: rotate 0.7s ease-in-out both;
}

button:hover span {
  animation: storm 0.7s ease-in-out both;
  animation-delay: 0.06s;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }

  25% {
    transform: rotate(3deg) translate3d(0, 0, 0);
  }

  50% {
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }

  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }

  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

@keyframes storm {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }

  25% {
    transform: translate3d(4px, 0, 0) translateZ(0);
  }

  50% {
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }

  75% {
    transform: translate3d(2px, 0, 0) translateZ(0);
  }

  100% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
}

.btn-pill:before,
.btn-pill:after {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #1d89ff;
  content: "";
  opacity: 0;
  transition: transform 0.15s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.15s cubic-bezier(0.02, 0.01, 0.47, 1);
  z-index: -1;
  transform: translate(100%, -25%) translate3d(0, 0, 0);
}

.btn-pill:hover:before,
.btn-pill:hover:after {
  opacity: 0.15;
  transition: transform 0.2s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.2s cubic-bezier(0.02, 0.01, 0.47, 1);
}

.btn-pill:hover:before {
  transform: translate3d(50%, 0, 0) scale(0.9);
}

.btn-pill:hover:after {
  transform: translate(50%, 0) scale(1.1);
}

.btn-shine {
  border: 1px solid;
  overflow: hidden;
  position: relative;
}

.btn-shine span {
  z-index: 20;
}

.btn-shine:after {
  background: #38ef7d;
  content: "";
  height: 155px;
  left: -75px;
  opacity: 0.4;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 50px;
  z-index: -10;
}

.btn-shine:hover:after {
  left: 120%;
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}

.btn-slide-line.center:after {
  left: 50%;
}

.btn-slide-line:after {
  position: absolute;
  right: 0;
  left: auto;
  transition: 0.3s;
  content: "";
  width: 0;
  bottom: 0;
  height: 3px;
  background: #164ca7;
}

.btn-slide-line:hover {
  cursor: pointer;
}

.btn-slide-line:hover:after {
  width: 100%;
  left: 0;
}

.inspire a {
  text-decoration: none;
}

.btn-pill {
  position: absolute !important;
  right: 0px !important;
  top: 0 !important;
  height: 100% !important;
}